.login_Form{
/* border: 3px solid  #0080ff;
           padding: 5px;
           border-radius: 8px; *//* Радиус скругления *//*
           //background:  #0080ff;*/
}
/*#dateForm
    {
        position: absolute;
        left:200px;
        top: 90px;
   }*/
#loginForm
       {
           position: absolute; /* Абсолютное позиционирование */
           position: fixed; top: 40%; left: 40%;
           font-family:Arial;
       }
 #loginError
        {
            width: 300px;	height: 20px;
            position: fixed; top: 65%; left: 40%;
            background:  #f1850e;
        }
#loginHeader
        {
            position: absolute; /* Абсолютное позиционирование */
            position: fixed; top: 30%; left: 45%;
            color:#0000ff;
            font-family:Arial;
        }
 #login_submit
        {
            background: green; /* Синий цвет фона */
                 color: white; /* Белые буквы */
             font-size: 12pt; /* Размер шрифта в пунктах */
        }
 #login_Label_psw
        {
            font-size: 16pt; /* Размер шрифта в пунктах */
        }
 #login_Label_User
        {
            font-size: 16pt; /* Размер шрифта в пунктах */
            font-family:Arial;
        }
 #login_Input_psw
        {
            width:300px;
            height:20px;
        }
 #login_Input_email
        {
            width:300px;
            height:20px;
        }
