<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Редагування користувача</title>
    <link th:href="@{/css/style.css}" rel="stylesheet" />
</head>

<body>
<h1>Редагування користувача </h1>

<a href = "/index"><button>Повернутися</button></a> <br><br>

<form th:action="@{/editUser}" th:object="${userForm}" method="POST">

    Назва користувача:
    <input required type="text" th:field="*{username}" value=" "/>
    <br/>
    <br/>
    Пароль:
    <input required type="password" th:field="*{password}" value=0 />
    <br/>
    <br/>
    Пiтвердiть пароль:
    <input required type="password" th:field="*{confirmpassword}" value=0 />
    <br/>
    <br/>
    Оберіть статус користувача:
    <select  th:field="*{role}">
        <option  th:each ="role : ${T(timetable.enums.UserRole).values()}" th:value="${role}">
            <h2 th:utext="${role}"></h2></option>
    </select>
    <br>
    <br>

    <input type="submit" value="Зберегти" />

</form>
</body>
</html>