<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <title> </title>
<link th:href="@{/css/style.css}" rel="stylesheet" />

</head>

<body>
    <div class="header sticky" id="myHeader">
        <h2 style="font-family:Arial">Верховний суд </h2>
    </div>

    <h1>Перелiк засiдань</h1><br>
    <a th:href="@{'/AddEvent'}"><button>Додати засiдання</button></a><br>


    <form  id="dateForm" th:action="@{'/hallEvents/{id}'(id=${hallid})}" th:object="${hallEventsForm}" method="POST">
        Дата :
        <input required type="date" th:field="*{dateStart}" value=0 />
        <br/>
        <br/>

        <input type="submit" value="Показати згiдно дати" />
    </form>

   <br>
    <a th:href="@{'/index'}"><button>Повернутися</button></a><br><br>
<div>
    <table border="1" class="content">
        <tr>
        <th>#</th>
            <th>Номер справи</th>
            <th>Опис</th>
            <th>Дата</th>
            <th>Статус</th>
            <th style="width: 5%">Видалити</th>
            <th style="width: 5%">Редагувати</th>
        </tr>
        <tr th:each ="event,iter : ${events}">
            <td th:utext="${iter.count}" class="numcol_admin">...</td>
            <td th:utext="${event.number}" class="casenumcol_admin">...</td>
            <td th:utext="${event.description}" class="casedesccol_admin">...</td>
            <td th:utext="${event.date}" class="casedatecol_admin">...</td>
            <td th:utext="${event.status}" class="casestatuscol_admin">...</td>
            <td ><a th:href="@{'/delete/{id}'(id=${event.id})}" onclick="return confirm('Ви дiйсно хочите видалити засiдання ?')" class="casedeletecol_admin">
                <button>Видалити</button></a></td>
            <td ><a th:href="@{'/editEvent/{id}'(id=${event.id})}" class="caseeditcol_admin"><button>Редагувати</button></a></td>
        </tr>
    </table>
</div>

</body>
</html>