<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <title> </title>
<link th:href="@{/css/style.css}" rel="stylesheet" />

</head>
<style>
    #eventsTable{
    position: absolute;
        left:10px;
        top: 330px;
    }

    #buttonGroup{
    position: absolute;
        left:20px;
        top: 230px;
    }
    #calendar{
        position: absolute;
        left:520px;
        top: 20px;
    }

</style>
<body>
    <div class="header sticky" id="myHeader">
        <h2 style="font-family:Arial">Верховний суд </h2>
    </div>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>


    <form  id="dateForm" th:action="@{'/hallEvents/{id}'(id=${hallid})}" th:object="${hallEventsForm}" method="POST">

        <br/>
        <table border="1" class="content">
            <tr>
                <th  hidden="true">1</th>
                <th  hidden="true">2</th>
                <th  hidden="true">3</th>
                <th  hidden="true">4</th>
                <th  hidden="true">5</th>
            </tr>
            <tr>
                <td  th:each ="hall : ${halls}" th:id="${hall.id}" onclick="setColor(this.id)"  > <h3 th:utext="${hall.name}"></h3></td>
            </tr>
        </table>
        <br/>

        <div id="calendar">
            Виберiть дату:
            <input required type="date" th:field="*{dateStart}" value=0 />
        </div>
        <input type="text"   hidden="true" id="hidden_id" th:field="*{id}"/>

        <input type="submit" value="Показати згiдно дати" />

    </form>
   <br/>

   <div id="buttonGroup">
    <a th:href="@{'/index'}"><button>Повернутися</button></a>
    <br/>
    <br/>
    <a th:href="@{'/AddEvent'}"><button>Додати засiдання</button></a><br>
    <br/>
   </div>

<div id="eventsTable">
    <table border="1" >
        <tr>
        <th>#</th>
            <th>Номер справи</th>
            <th>Опис</th>
            <th>Дата</th>
            <th>Статус</th>
            <th style="width: 5%">Видалити</th>
            <th style="width: 5%">Редагувати</th>
        </tr>
        <tr th:each ="event,iter : ${events}">
            <td th:utext="${iter.count}" class="numcol_admin">...</td>
            <td th:utext="${event.number}" class="casenumcol_admin">...</td>
            <td th:utext="${event.description}" class="casedesccol_admin">...</td>
            <td th:utext="${event.date}" class="casedatecol_admin">...</td>
            <td th:utext="${event.status}" class="casestatuscol_admin">...</td>
            <td ><a th:href="@{'/delete/{id}'(id=${event.id})}" onclick="return confirm('Ви дiйсно хочите видалити засiдання ?')" class="casedeletecol_admin">
                <button>Видалити</button></a></td>
            <td ><a th:href="@{'/editEvent/{id}'(id=${event.id})}" class="caseeditcol_admin"><button>Редагувати</button></a></td>
        </tr>
    </table>
</div>

</body>

</html>
<script>
    var temp;
    var setColor = function(id){
        <!-- debugger;-->

         document.getElementById(id).style.background = "LightGreen";

         hidden_id.setAttribute('name',id);
         hidden_id.setAttribute('value',id);
         temp = id;

   }
</script>
