<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Верховний суд Украiни</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/index.css}">
</head>
<style>
.emptyButton {
   background-color: transparent;
   border: none;
}


@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.2.0/css/font-awesome.min.css');

</style>

<body th:style="'background:url('+ @{/img/klov.jpg} +') no-repeat center fixed; background-size: cover;'">



    <a class="navbar-logo" th:href="@{'index'}"><img th:src="@{/img/img.png}"  height="60"/></a>
    <ul class="menu-main">
    <li><a th:href="@{'hallEvents'}">Розклад</a></li>
    <li><a th:href="@{'indexHall'}">Додати зал</a></li>
    <li><a th:href="@{'indexUser'}">користувач</a></li>
    <li><a th:href="@{'settings/{id}'(id=${idhall})}">Налаштування</a></li>
    <li><form th:action="@{/logout}" method="post"><button class="emptyButton"><a type="submit">Виxiд</a></button></form></li>
  </ul>




  <div id="footer">
     &copy; All rights reserved. E.O.I
  </div>

<!-- <table> -->



<!-- <table> -->

</table>




</body>
</html>
