<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
  <link th:href="@{/css/style.css}" rel="stylesheet" />

</head>

<body>
<div>
    <h1 class="header_admin">Оберiть номер зали:</h1>
</div>
<a href = "/users"><button>Редагувати користувачiв</button></a>
<a href="/addHall"><button>Додати залу</button></a>
<br>
<br>
<div class="content">
<div class="subheader_placeholder_admin">&nbsp;</div>
    <table >
        <tr>
            <th> Назва зали </th>
            <th> Видалити </th>
            <th> Редагувати</th>
        </tr>
        <tr th:each ="hall : ${halls}">
            <td ><a th:href="@{'/hallEvents/{id}'(id=${hall.id})}"><h3 th:utext="${hall.name}"></h3></a></td>
            <td ><a th:href="@{'deleteHall/{id}'(id=${hall.id})}"
                    onclick="return confirm('Ви дiйсно хочите видалити засiдання ?')"> <button >Видалити</button></a></td>
            <td><a th:href="@{'editHall/{id}'(id=${hall.id})}">
                <button>Редагувати</button></a></td>
        </tr>
    </table>
</div>

<div class="subheader_placeholder_admin">&nbsp;</div>
<table >
    <tr>
        <th> Назва користувача </th>
        <th> Видалити </th>
        <th> Редагувати</th>
    </tr>
    <tr th:each ="user : ${users}">
        <td ><h3 th:utext="${user.name}"></h3></td>
        <td ><a th:href="@{'deleteUser/{id}'(id=${user.id})}"
                onclick="return confirm('Ви дiйсно хочите видалити засiдання ?')"> <button >Видалити</button></a></td>
        <td><a th:href="@{'editUser/{id}'(id=${user.id})}">
            <button>Редагувати</button></a></td>
    </tr>
</table>
</div>
<br>
<a th:href="@{'/addHall'}"><button>Додати залу</button></a>
</body>
</html>