<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
  <link th:href="@{/css/style.css}" rel="stylesheet" />

</head>

<body>

<div class="content">
<!--  <div class="subheader_placeholder_admin">&nbsp;</div>-->
<div class="buttons_header">
    <div >
        <h2 class="header_admin"><a th:href="@{'hallEvents'}"> Редагування/<a th:href="@{'settings'}"> Налаштування</a> </h2>
    </div>
    <div class="table1">
        <a th:href="@{'addHall'}"><button>Додати зал</button></a>
    </div>
    <div class="table2">
        <a th:href="@{'addUser'}"><button>Додати користувача</button></a>
    </div>
    <br>
</div>
    <br>
    <div class="table1">
    <table >
        <tr>
            <th> Назва зали </th>
            <th> Видалити </th>
            <th> Редагувати</th>
        </tr>
        <tr th:each ="hall : ${halls}">
            <td ><h3 th:utext="${hall.name}"></h3></td>
            <td ><a th:href="@{'deleteHall/{id}'(id=${hall.id})}"
                    onclick="return confirm('Ви дiйсно хочите видалити зал ?')"> <button >Видалити</button></a></td>
            <td><a th:href="@{'editHall/{id}'(id=${hall.id})}">
                <button>Редагувати</button></a></td>
        </tr>
    </table>
</div>

<div class="table2">

    <table  >
    <tr>
        <th> Назва користувача </th>
        <th> Видалити </th>
        <th> Редагувати</th>
    </tr>
    <tr th:each ="user : ${users}">
        <td ><h3 th:utext="${user.username}"></h3></td>
        <td ><a th:href="@{'deleteUser/{id}'(id=${user.id})}"
                onclick="return confirm('Ви дiйсно хочите видалити користувача ?')"> <button >Видалити</button></a></td>
        <td><a th:href="@{'editUser/{id}'(id=${user.id})}">
            <button>Редагувати</button></a></td>
    </tr>
</table>
</div>

</div>

</body>
</html>