<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
    <title>Авторизацiя</title>
    <link th:href="@{/css/login.css}" rel="stylesheet" />
</head>


<body>
<div  th:if="${param.error}">
    Невiрне iм'я або пароль.
</div>
<div id = "loginError" th:if="${param.logout}">
    Вийти.
</div>

<h2 id="loginHeader">Верховний Суд</h2>

<form class="login_Form" ID="loginForm" th:action="@{/login}" method="post">

    <div><label id="login_Label_User" hint="Username or Email address">  </label><br><input id="login_Input_email" type="text" name="username" /> </div><br>

    <div><label id="login_Label_psw" hint=" Password: "></label><br><input id="login_Input_psw" type="password" name="password" /></div><br><br>

    <div><input id="login_submit" type="submit" value="LOG IN"/></div>
</form>

</body>
</html>