<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Автозацiя</title>
</head>
<body>
<div th:if="${param.error}">
    Невiрне iм'я або пароль.
</div>
<div th:if="${param.logout}">
    Вийти.
</div>
<form th:action="@{/login}" method="post">
    <div><label> I'мя користувача : </label><input type="text" name="username"/> </div><br><br>
    <div><label> Пароль: </label><input type="password" name="password"/></div><br><br>
    <div><input type="submit" value="Увiйти"/></div>
</form>
</body>
</html>