<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">



<head>
  <meta charset="UTF-8">
    <title>Авторизацiя</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/log.css}">
</head>


<body th:style="'background:url('+ @{/img/klov.jpg} +') no-repeat center fixed; background-size: cover;'">

<h1 id="loginHeader">Верховний Суд</h1>

<div  th:if="${param.error}">
    Невiрне iм'я або пароль.
</div>
<div id = "loginError" th:if="${param.logout}">
    Вийти.
</div>

<div id="wrapper">

<form class="login_Form" ID="loginForm" th:action="@{/login}" method="post">

  <div><label id="login_Label_User" hint="Username or Email address">  </label>
  <input id="login_Input_email" type="text" name="username" placeholder="username" /> </div>

  <div><label id="login_Label_psw" hint=" Password: "></label>
  <input id="login_Input_psw" type="password" name="password" placeholder="password" /></div>

  <input id="login_submit" type="submit" value="&#xf0da;"/>
</form>

</div>
<div id="footer">
   &copy; All rights reserved. E.O.I
  </div>
</body>



</html>
