<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
     <link th:href="@{/css/style.css}" rel="stylesheet" />
</head>

<style>
     .settingTable
    {
        width:400px;
        border: 1px solid #ddd;
        text-align: center;
    }
    .settingForm{
        padding:10px;
    }

</style>

<body>
<div class="header sticky" >
    <div class="right_title"><header><h2>&nbsp;</h2></header></div>
    <div class="center_title"><header><h2> Верховний суд </h2></header></div>
</div>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<a href = "/index"><button>Повернутися</button></a>
<br/>
<br/>
    <form  class="settingForm" th:action="@{/settings}" th:object="${settingFormHall}" method="POST">
    <div >

        <table class="settingTable">
            <tr>
                <th> Назва зали  </th>
                <th> Колір тексту</th>
                <th> Шрифт </th>
                <th> Висота шрифту </th>
                <th> Колір підложки</th>
            </tr>
            <tr >
                <td  th:utext="${responseSettingHall.parameter}"   ></td>

                <!--th:attr="value = ${client.name}"-->
                <td > <input type="color" th:field="*{textcolor}"  th:value="${responseSettingHall.textcolor}"/> </td>
                <td> <input type="text" th:field="*{textfont}" th:value="${responseSettingHall.textfont}" > </td>
                <td> <input type="number"  th:field="*{textsize}" th:value="${responseSettingHall.textsize}"> </td>
                <td> <input type="color" th:field="*{textbackground}" th:value="${responseSettingHall.textbackground}">
                </td>
            </tr>

        </table>
        <br/>
    </div>
        <input type="submit" value="Зберегти" />
    </form>
    <br/>

<form class="settingForm" th:action="@{/settings}" th:object="${settingFormTableTitle}" method="POST">
    <div >
        <table class="settingTable">
            <tr>
                <th> Назва зали  </th>
                <th> Колір тексту</th>
                <th> Шрифт </th>
                <th> Висота шрифту </th>
                <th> Колір підложки</th>
            </tr>
            <tr >
               <td  th:utext="${responseSettingTable.parameter}"   ></td>
                <td > <input type="color" th:field="*{textcolor}"  th:value="${responseSettingTable.textcolor}"/> </td>
                <td> <input type="text" th:field="*{textfont}" th:value="${responseSettingTable.textfont}" > </td>
                <td> <input type="number"  th:field="*{textsize}" th:value="${responseSettingTable.textsize}"> </td>
                <td> <input type="color" th:field="*{textbackground}" th:value="${responseSettingTable.textbackground}">
                </td>
            </tr>

        </table>
        <br/>
    </div>
    <input type="submit" value="Зберегти" />
</form>

<form class="settingForm" th:action="@{/settings}" th:object="${settingText}" method="POST">
    <div >
        <table class="settingTable">
            <tr>
                <th> Назва зали  </th>
                <th> Колір тексту</th>
                <th> Шрифт </th>
                <th> Висота шрифту </th>
                <th> Колір підложки</th>
            </tr>
            <tr >
                <td  th:utext="${responseSettingText.parameter}"   ></td>
                <td > <input type="color" th:field="*{textcolor}"  th:value="${responseSettingText.textcolor}"/> </td>
                <td> <input type="text" th:field="*{textfont}" th:value="${responseSettingText.textfont}" > </td>
                <td> <input type="number"  th:field="*{textsize}" th:value="${responseSettingText.textsize}"> </td>
                <td> <input type="color" th:field="*{textbackground}" th:value="${responseSettingText.textbackground}">
                </td>
            </tr>

        </table>
        <br/>
    </div>
    <input type="submit" value="Зберегти" />
</form>
</body>
</html>