<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
     <link th:href="@{/css/style.css}" rel="stylesheet" />
</head>

<style>
     .settingTable
    {
        width:400px;
        border: 1px solid #ddd;
        text-align: center;
    }
    .settingForm
    {
        padding:10px;
    }
    .UpDownLoadDB
    {
        border: 1px solid #ddd;
        position: fixed; top: 25%; left: 60%;
        text-align:center;
    }

</style>

<body>
<div class="header sticky" >
    <div class="right_title"><header><h2>&nbsp;</h2></header></div>
    <div class="center_title"><header><h2> Верховний суд </h2></header></div>
</div>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<a th:href="@{'/index'}"><button>Повернутися</button></a>
<br/>
<br/>

<div>
<form  class="settingForm" th:action="@{/settings}" th:object="${settingFormHall}" method="POST">
    <div >
        <input type="text"   hidden="true"  th:field="*{formname}"/>
        <input type="text"   hidden="true"  th:field="*{parameter}"/>
        <input type="text"   hidden="true"  th:field="*{id}"/>
        <table class="settingTable">
            <tr>
                <th> Назва зали  </th>
                <th> Колір тексту</th>
                <th> Шрифт </th>
                <th> Висота шрифту </th>
                <th> Колір підложки</th>
            </tr>
            <tr >
                <!--th:attr="value = ${client.name}"-->
                <td  th:utext="*{parameter}"></td>
                <td > <input type="color" th:field="*{textcolor}" /> </td>
                <td>
                    <select  th:field="*{textfont}">
                        <option th:value="Serif"> Serif </option>
                        <option value="Arial"> Arial </option>
                        <option value="Sans-Serif"> Sans-Serif </option>
                        <option value="Tahoma"> Tahoma </option>
                        <option value="Verdana"> Verdana </option>
                        <option value="Lucida Sans Unicode"> Lucida Sans Unicode </option>
                    </select>
                </td>
                <td> <input type="number"  th:field="*{textsize}" > </td>
                <td> <input type="color" th:field="*{textbackground}">
                </td>
            </tr>

        </table>
        <br/>
    </div>
        <input type="submit" name="" value="Зберегти" />
    </form>
    <br/>

<form class="settingForm" th:action="@{/settings}" th:object="${settingFormTableTitle}" method="POST">
    <div >
        <input type="text"   hidden="true"  th:field="*{formname}"/>
        <input type="text"   hidden="true"  th:field="*{parameter}"/>
        <input type="text"   hidden="true"  th:field="*{id}"/>
        <table class="settingTable">
            <tr>
                <th> Назва зали  </th>
                <th> Колір тексту</th>
                <th> Шрифт </th>
                <th> Висота шрифту </th>
                <th> Колір підложки</th>
            </tr>
            <tr >
               <td  th:utext="*{parameter}" ></td>
                <td > <input type="color" th:field="*{textcolor}" > </td>
                <td>
                    <select  th:field="*{textfont}">
                        <option th:value="Serif"> Serif </option>
                        <option value="Arial"> Arial </option>
                        <option value="Sans-Serif"> Sans-Serif </option>
                        <option value="Tahoma"> Tahoma </option>
                        <option value="Verdana"> Verdana </option>
                        <option value="Lucida Sans Unicode"> Lucida Sans Unicode </option>
                    </select>
                </td>
                <td> <input type="number"  th:field="*{textsize}" > </td>
                <td> <input type="color" th:field="*{textbackground}" >
                </td>
            </tr>

        </table>
        <br/>
    </div>
    <input type="submit" value="Зберегти" />
</form>

<form class="settingForm" th:action="@{/settings}" th:object="${settingText}" method="POST">
    <div >
        <input type="text"   hidden="true"  th:field="*{formname}"/>
        <input type="text"   hidden="true"  th:field="*{parameter}"/>
        <input type="text"   hidden="true"  th:field="*{id}"/>
        <table class="settingTable">
            <tr>
                <th> Назва зали  </th>
                <th> Колір тексту</th>
                <th> Шрифт </th>
                <th> Висота шрифту </th>

            </tr>
            <tr >
                <td  th:utext="*{parameter}"   ></td>
                <td > <input type="color" th:field="*{textcolor}"  th:value="${textcolor}"/> </td>
                <td>
                    <select  th:field="*{textfont}">
                        <option th:value="Serif"> Serif </option>
                        <option value="Arial"> Arial </option>
                        <option value="Sans-Serif"> Sans-Serif </option>
                        <option value="Tahoma"> Tahoma </option>
                        <option value="Verdana"> Verdana </option>
                        <option value="Lucida Sans Unicode"> Lucida Sans Unicode </option>
                    </select>
                </td>
                <td> <input type="number"  th:field="*{textsize}" th:value="${textsize}"> </td>

                </td>
            </tr>

        </table>
        <br/>
    </div>
    <input type="submit" value="Зберегти" />
</form>
</div>
<div>


    <form class="UpDownLoadDB" th:action="@{/settings}" th:object="${hidefieldsForm}" method="POST">
        <table class="settingTable">
            <select  th:field="*{idHall}">
                <option  th:each ="hall : ${hallList}" th:value="${hall.id}"><h2 th:utext="${hall.name}"></h2></option>
            </select>

            <tr>
            <td>Час слухання</td>
            <td><input type="checkbox" unchecked th:field="*{time}"></td>
            <td>Сховати\Показати</td>
        </tr>
        <tr>
            <td>Позивач</td>
            <td><input type="checkbox" unchecked th:field="*{defendant}"></td>
            <td>Сховати\Показати</td>
        </tr>
        <tr>
            <td>Вiдповiдач</td>
            <td><input type="checkbox" unchecked th:field="*{plaintiff}"></td>
            <td>Сховати\Показати</td>
        </tr>
            <tr>
                <td>Предмет позиву</td>
                <td><input type="checkbox" unchecked th:field="*{contestation}"></td>
                <td>Сховати\Показати</td>
            </tr>
            <tr>
                <td>Скдад суду</td>
                <td><input type="checkbox" unchecked th:field="*{composition}"></td>
                <td>Сховати\Показати</td>
            </tr>
            <tr>
                <td>Сторони у справi та предмет спору</td>
                <td><input type="checkbox" unchecked th:field="*{description}"></td>
                <td>Сховати\Показати</td>
            </tr>
            <tr>
                <td>Доповнення до статусу</td>
                <td><input type="checkbox" unchecked th:field="*{additionalStatus}"></td>
                <td>Сховати\Показати</td>
            </tr>
        </table>
        <input type="submit" value="Зберегти" />
    </form>
    </br>


</table>


</div>


</body>
</html>